<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title></title>

  <%= stylesheet_link_tag  "application" %>

  <%= javascript_include_tag  %>
  <%= csrf_meta_tags %>
</head>
<body>


</body>
</html>
